/* google web font */
@import url(http://fonts.googleapis.com/css?family=Pacifico);

/* reset bootsrap */
.container-fluid {margin:0;padding:0;width:100%;}
.row {margin:0;width:100%;}
.span12 {margin:0;width:100%;}

/* set block dimensions */
.block {height:84px;}

/* custom block design */
.block-adwo {background-color:#57995b;color:#fff;}
.block-twit {background-color:#00afe9;color:#fff;}
.block-drib {background-color:#f16197;color:#fff;}
.block-insta {background-color:#a06b54;color:#fff;}
.block-gana {background-color:#e78139;color:#fff;}
.block-face {background-color:#3b5998;color:#fff;}

/* typo */
h1 {font-family:'Pacifico',cursive;font-weight:normal;
	margin-left:16px;padding-top:10px;}

/* set block dimensions */
.block {height:84px;width:100%;}

/* Large desktop */
@media (min-width: 1200px) {}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {}
 
/* Landscape phones and down */
@media (max-width: 480px) {}